{% extends 'store/main.html' %}
{% load static %}


{% block title %}
   About Page
{% endblock title %}
   

{% block content %}
   

     <section class="about">

        <div class="row">
     
           <div class="image">
              <img src="{% static 'images/about-img.svg' %}" alt="">
            </div>
            
           <div class="content">
              <h3>why choose us?</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam veritatis minus et similique doloribus? Harum molestias tenetur eaque illum quas? Obcaecati nulla in itaque modi magnam ipsa molestiae ullam consequuntur.</p>
              <a href="{% url 'contact' %}" class="btn">contact us</a>
            </div>
     
        </div>
     
      </section>
      
     <section class="reviews">
   
        <h1 class="heading">client's reviews</h1>
     
        <div class="swiper reviews-slider">
     
        <div class="swiper-wrapper">
           
           <div class="swiper-slide slide">
              <img src="{% static 'images/pic-1.png' %}" alt="">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempore distinctio hic, iusto adipisci a rerum nemo perspiciatis fugiat sapiente.</p>
              <div class="stars">
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star-half-alt"></i>
              </div>
              <h3>john deo</h3>
           </div>
           
           <div class="swiper-slide slide">
              <img src="{% static 'images/pic-2.png' %}" alt="">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempore distinctio hic, iusto adipisci a rerum nemo perspiciatis fugiat sapiente.</p>
              <div class="stars">
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star-half-alt"></i>
               </div>
               <h3>john deo</h3>
            </div>
     
           <div class="swiper-slide slide">
              <img src="{% static 'images/pic-3.png' %}" alt="">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempore distinctio hic, iusto adipisci a rerum nemo perspiciatis fugiat sapiente.</p>
              <div class="stars">
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star-half-alt"></i>
               </div>
              <h3>john deo</h3>
           </div>
     
           <div class="swiper-slide slide">
              <img src="{% static 'images/pic-4.png' %}" alt="">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempore distinctio hic, iusto adipisci a rerum nemo perspiciatis fugiat sapiente.</p>
              <div class="stars">
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star-half-alt"></i>
               </div>
               <h3>john deo</h3>
           </div>
           
           <div class="swiper-slide slide">
              <img src="{% static 'images/pic-5.png' %}" alt="">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempore distinctio hic, iusto adipisci a rerum nemo perspiciatis fugiat sapiente.</p>
              <div class="stars">
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star-half-alt"></i>
              </div>
              <h3>john deo</h3>
           </div>
     
           <div class="swiper-slide slide">
              <img src="{% static 'images/pic-6.png' %}" alt="">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempore distinctio hic, iusto adipisci a rerum nemo perspiciatis fugiat sapiente.</p>
              <div class="stars">
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star-half-alt"></i>
               </div>
               <h3>john deo</h3>
            </div>
     
         </div>
         
        <div class="swiper-pagination"></div>
        
      </div>
      
   </section>
   {% endblock content %}
