{% extends 'store/main.html' %}
{% load static %}


{% block title %}
   {{product.category}}
{% endblock title %}
   

{% block content %}
   

<section class="quick-view">
    <h1 class="heading">Quick View</h1>
    <form action="" method="POST" class="box">{% csrf_token %}
        <input type="hidden" name="product_id" value="{{product.id}}">
        <div class="row">
           <div class="image-container">
              <div class="main-image">
                 <img src="{{product.image_01.url}}" alt="">
               </div>
              <div class="sub-image">
                 <img src="{{product.image_01.url}}" alt="">
                 <img src="{{product.image_02.url}}" alt="">
                 <img src="{{product.image_03.url}}" alt="">
               </div>
            </div>
            <div class="content">
               <div class="name">{{product.name}}</div>
               <div class="flex">
                  <div class="price"><span>$</span>{{product.price}}<span>/-</span></div>
                  <input type="number" name="quantity" class="qty" min="1" max="99" onkeypress="if(this.value.length == 2) return false;" value="1">
              </div>
              <div class="details">{{product.details}}</div>
              <div class="flex-btn">
                 <input type="submit" value="add to cart" class="btn" name="add_to_cart" formaction="{% url 'addcart' %}">
                 <input class="option-btn" type="submit" name="add_to_wishlist" value="add to wishlist" formaction="{% url 'addwishlist' %}">
              </div>
           </div>
        </div>
     </form>

   </section>   
   {% endblock content %}
