   {% extends 'store/main.html' %}
   {% load static %}

   
   {% block title %}
      Registration Page
   {% endblock title %}
      
   
   {% block content %}
      
   <section class="form-container">
      
        <form action="" method="POST">{% csrf_token %}
           <h3>register now</h3>
           <input type="text" name="username" required placeholder="enter your username" maxlength="20"  class="box">
           <input type="email" name="email" required placeholder="enter your email" maxlength="50"  class="box">
           <input type="password" name="password1" required placeholder="enter your password" maxlength="20"  class="box" oninput="this.value = this.value.replace(/\s/g, '')">
           <input type="password" name="password2" required placeholder="confirm your password" maxlength="20"  class="box" oninput="this.value = this.value.replace(/\s/g, '')">
           <input type="submit" value="register now" class="btn" name="submit">
           <p>already have an account?</p>
           <a href="{% url 'login' %}" class="option-btn">login now</a>
        </form>
     
     </section>

{% endblock content %}
         